<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <section *ngIf="showText == 'Page1'">
        <button menuClose ion-item *ngFor="let p of page1" (click)="openPage(p)">
          {{p.title}}
        </button>
      </section>
      <section *ngIf="showText == 'Page2'">
        <button menuClose ion-item *ngFor="let p of page2" (click)="openPage(p)">
          {{p.title}}
        </button>
      </section>
      <section *ngIf="showText == 'Page3'">
        <button menuClose ion-item *ngFor="let p of page3" (click)="openPage(p)">
          {{p.title}}
        </button>
      </section>
      <section *ngIf="showText == 'Page4'">
        <button menuClose ion-item *ngFor="let p of page4" (click)="openPage(p)">
          {{p.title}}
        </button>
      </section>
      <section *ngIf="q == undefined">
        <button menuClose ion-item (click)="openPage(pageReLo)" color="secondary">
          {{pageReLo.title}}
        </button>
      </section>
      <section *ngIf="q != undefined">
        <button menuClose ion-item (click)="logOut()" color="danger">
          ログアウトする
        </button>
      </section>
    </ion-list>
  </ion-content>
  <!--
  <form #form>
    <input type="hidden" [(ngModel)]="this.qNum" name="num" id="content" value="{{this.qNum}}" readonly />
  </form>
  -->
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
