<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>掲示板</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="topContent">
    <!--
    <button ion-button id="Registration" *ngIf="!login" (click)="goToRegi()">アカウントの登録</button>
    
    <button ion-button id="Submit" *ngIf="login!=null" (click)="goToSubm()">コメントの投稿</button>
    <button ion-button id="Registration" *ngIf="login!=null" (click)="logOut()" color="danger">ログアウト</button>
    -->
    <button ion-button id="Submit" (click)="goToSubm()">コメントの投稿</button>
  </div>

  <div style="text-align: center;">
      総投稿数：{{datasNum}}
  </div><br>
  <div *ngFor="let cont of contribution">
    <ion-card>
      <ion-card-header>
        {{cont[0].title}}
      </ion-card-header>
      <ion-card-content>
        {{cont[0].comments}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
