<ion-header>
  <ion-navbar color="primary">
    <ion-title>Wakapper</ion-title>
    <button *ngIf="flag=='logout'" ion-button (click)="goToRegi()" color="secondary">
      アカウント登録・ログイン
    </button>
    <button *ngIf="flag=='login'" ion-button (click)="logOut()" color="danger">
      ログアウト
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="links">
  <button ion-button (click)="goToPage1()">
    <ion-icon name="map">
      <p>マップ</p>
    </ion-icon>
  </button>
  <button ion-button (click)="goToPage2()">
    <ion-icon name="chatbubbles">
      <p>掲示板</p>
    </ion-icon>
  </button>
  <button ion-button (click)="goToPage3()">
    <ion-icon name="paper">
      <p>カレンダー</p>
    </ion-icon>
  </button>
  <button ion-button (click)="goToPage4()">
    <ion-icon name="subway">
      <p>運行表</p>
    </ion-icon>
  </button>
</ion-content>
