# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
log.txt
*.sublime-project
*.sublime-workspace
.vscode/

.idea/
.sourcemaps/
.versions/
dist/
tmp/
temp/
hooks/
$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate
