<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card>
    <img src="http://3.bp.blogspot.com/-jHdA_6VWQFw/WYAxqtZz54I/AAAAAAABFuk/rDsnpKBPpsQ1gMDDrJYRjh5IVdUBkd30QCLcBGAs/s800/building_fastfood.png"/>
    
    <ion-card-title>
        {{name}}
    </ion-card-title>
    
    <ion-card-content>
      <p>場所：{{address}}</p>
      
      <p>営業時間：{{open}}</p>
    </ion-card-content>
    
    <ion-row>
      <ion-col>
        <button *ngIf="showFlag==0" ion-button icon-left clear small (click)="setFavo()">
          <ion-icon name="star"></ion-icon>
          <div>お気に入り登録</div>
        </button>
        <button *ngIf="showFlag!=0" ion-button icon-left clear small (click)="setFavo()">
          <ion-icon name="star"></ion-icon>
          <div>お気に入り解除</div>
        </button>
      </ion-col>
    </ion-row>
    
  </ion-card>

  <ion-card> 
    <ion-card-title>
      コメント
    </ion-card-title>
    <ion-card-content>
      {{comment}}
    </ion-card-content>
  </ion-card>
  <!--
  <ion-card *ngFor="let item of comment"> 
    <ion-card-title>
      {{item.title}}
    </ion-card-title>
    
    <ion-card-content>
      {{item.comment}}
    </ion-card-content>
  </ion-card>
  -->
</ion-content>
